.news{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container h1{
    text-align: center;
    background-color: red;
    margin: 30px;
    margin-top: 93px;
}

.prevNxt{
    display: flex;
    justify-content: space-between;
}